
body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

#left-column {
    width: 50%;
    float: left;
}
#right-column {
    width: 50%;
    float: right;
}


.image-container {
  vertical-align: top;
  width: 75%;
  height: 75%;
  margin: 0 auto;
}

img {
  width: 100%;
}

.button-space {
  text-align: center;
}

.grid {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(2, 1fr);
}

div > div {
  padding: 10px;
}

#ack { 
  text-align : center;
}