
body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

#left-column {
    width: 50%;
    float: left;
}
#right-column {
    width: 50%;
    float: right;
}

.image-container {
  display: block;
  vertical-align: top;
  width: 75%;
  height: 75%;
  margin: 0 auto;
}

img {
  width: 100%;
}